<div class='row'>
  <table align='center'>
  <tr>
  <td>collection</td>
  <td>
    <select id = 'stat'>
      <option>devices</option>
      <option>accesses</option>
      <option>adsites</option>
      <option>feedprovprices</option>
      <option>ipranges</option>
      <option>keywords</option>
      <option>langs</option>
      <option>projects</option>
      <option>sekeys</option>
      <option>useragents</option>
      <option>users</option>
      <option>webmasters</option>
    </select>

  </td>
  </tr>
  <tr>
    <td>key contains</td>
    <td><input type='text' class='.form-search' value='' id='key' /></td>
  </tr>
  <tr>
    <td>treshold min</td>
    <td><input type='text' class='.form-search' value='0' id='treshold_min' /></td>
  </tr>
  <tr>
    <td>treshold max</td>
    <td><input type='text' class='.form-search' value='0' id='treshold_max' /></td>
  </tr>
  <tr>
  <td collspan=2><input type='button' value='submit' id='setFilters'/></td>
  </tr>
</table>
</div>


<div id='container'>

</div>
