<!DOCTYPE html>
<html>
  <head>
    <title>Stats</title>
    <script type = 'text/javascript' src='/js/jquery-1.7.1.min.js'></script>
    <script type = 'text/javascript' src='/js/bootstrap-button.js'></script>
    <script type = 'text/javascript' src='/js/bootstrap-dropdown.js'></script>
    <script type = 'text/javascript' src='/js/bootstrap-tab.js'></script>
    <script type = 'text/javascript' src='/js/highcharts.js'></script>
    <script type = 'text/javascript' src='/js/jquery.timeago.js'></script>
    <script type = 'text/javascript' src='/socket.io/socket.io.js'></script>
    <script type = 'text/javascript' src='/js/underscore-min.js'></script>
    <script type = 'text/javascript' src='/js/angular-1.0.0rc8.js'></script>
    <script type = 'text/javascript' src='/js/main.js'></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>
